<!DOCTYPE html>
<html>
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light shadow">
  <div class="container-fluid">
    <h5 class>Bigelow Tea</h5>
  </div>
  <div class="container-fluid d-flex flex-row-reverse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/packages/">Packages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/albums/">types</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container d-flex justify-content-center">
  <h1 class="display-1">Pricing</h1>
</div>
<div class="container mt-3 d-flex justify-content-center text-muted">
  <p class="h3 fw-light">This is Where you can choose our select monthly packages of American Blend Tea.</p>
</div>

<div class="container d-flex justify-content-center mt-5">
<div class="row row-cols-1 row-cols-md-3 g-4" style="width: 75%;">
  <div class="col">
    <div class="card h-100 shadow">
      <div class="card-header">
        <h5 class="card-title text-uppercase text-center">Tea Test!</h5>
      </div>
      <div class="card-body d-grid">
        <h1 class="text-center">$15 <small class="text-muted fw-light">/ mo</small></h1>
        <ul class="mt-3 list-unstyled text-center">
          <li>Green Tea x5</li>
          <li>Irish Blend x5</li>
          <li>Camomile x5</li>
          <li>Earl Grey x5</li>
          <li>Choice of Specialty Teas x5</li>
        </ul>
        <button type="button" class="btn btn-outline-primary btn-block mt-3">Tea Me</button>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow">
      <div class="card-header">
        <h5 class="card-title text-uppercase text-center">Spill Some!</h5>
      </div>
      <div class="card-body d-grid">
        <h1 class="text-center">$25 <small class="text-muted fw-light">/ mo</small></h1>
        <ul class="mt-3 list-unstyled text-center">
          <li>Green Tea x10</li>
          <li>Irish Blend x10</li>
          <li>Camomile x10</li>
          <li>Earl Grey x10</li>
          <li>Choice of Specialty Teas x10</li>
        </ul>
        <button type="button" class="btn btn-outline-primary btn-block mt-3">Tea Me</button>
      </div>
    </div>
  </div>
 <div class="col">
    <div class="card h-100 shadow">
      <div class="card-header">
        <h5 class="card-title text-uppercase text-center">Big Bigelow!</h5>
      </div>
      <div class="card-body d-grid">
        <h1 class="text-center">$35 <small class="text-muted fw-light">/ mo</small></h1>
        <ul class="mt-3 list-unstyled text-center">
          <li>Green Tea x15</li>
          <li>Irish Blend x15</li>
          <li>Camomile x15</li>
          <li>Earl Grey x15</li>
          <li>Choice of Specialty Teas x15</li>
        </ul>
        <button type="button" class="btn btn-outline-primary btn-block mt-3">Tea Me</button>
      </div>

    </div>
  </div>
</div>
</div>
<div class="container-fluid mt-5">
  <footer class="pt-4 my-md-5 pt-md-5 mx-auto w-50 border-top">
    <div class="row">
    <div class="col-3 col-md">
      <p class="h5 fw-bold">Product Owner</p>
      <ul class="list-unstyled">
        <li>ME</li>
        <li>Myself</li>
        <li>John Bigelow</li>
      </ul>
    </div>
    <div class="col-3 col-md">
      <p class="h5 fw-bold">Features</p>
      <ul class="list-unstyled">
        <li><a class="text-muted text-decoration-none" href="#">Tea Dunk</a></li>
        <li><a class="text-muted text-decoration-none" href="#">What to Tea with</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Best Tea for the Occasion</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Meet John Bigelow</a></li>
      </ul>
    </div>
    <div class="col-3 col-md">
      <p class="h5 fw-bold">Resources</p>
      <ul class="list-unstyled">
        <li><a class="text-muted text-decoration-none" href="#">American-Based Farms</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Tea Accessories</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Tea Hotline (Where we Spill)</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Tea-Span</a></li>
      </ul>
    </div>
    <div class="col-3 col-md">
      <p class="h5 fw-bold">About</p>
      <ul class="list-unstyled">
        <li><a class="text-muted text-decoration-none" href="#">Church of Bigelow</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Members</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Locations</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Bigelow Bible</a></li>
      </ul>
  </div>
  </div>
  </footer>
</div>


</body>
</html>